.sec2{
  .box_menu_sec2{
    position: relative;
    margin-top: 80px;
    background: transparent;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    font-size: 12px;
    margin-bottom: 120px;
  }
  .menu_inner_t ,.menu_inner_b{
    position: absolute;
    border-radius: 20px;
    box-shadow: 5px 10px 30px -15px rgba(0, 0, 0, 0.1);
  }
  .menu_inner_t{
    /* padding: 30px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    font-size: 14px;
    color: #616161;
    height: 103px;
    background: #FFFFFF;
    z-index: 1;
  }
  .menu_inner_b{
    height: 113px;
    background: #B4D9FF;
  }
  .items_sec_2_nav{
    text-align: center;
    margin: 20px;
    border-radius: 10px;
    padding: 15px;
  }
  .items_sec_2_nav_Active{
    font-weight: 700;
    font-size: 14px;
    color:black;
    background-color: #F4FAFF;
  }
}