.cardShop {
  .box_items {
    cursor: pointer;
    margin-top: 20px;
    position: relative;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 5px 10px 30px -15px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    font-size: 14px;
    color: black;
    margin: 10px;
  }

  .box_items .title {
    color: #3C3C3C;
    font-size: 12px;
  }

  .box_items .description {
    color: #A3A3A3;
    font-size: 12px;
  }

  .box_items .call_price {
    color: #3C3C3C;
    font-size: 14px;
  }

  .text_old_price {
    color: #C5C5C5;
    text-decoration: line-through #C5C5C5;
  }

  .text_price {
    font-size: 20px;
  }

  .badge_percentage {
    padding: 0 8px 0 8px;
    color: white;
    background: #FF4A4A;
    border-radius: 7px;
  }

  .img-cover {
    width: 100%;
    aspect-ratio: 3/2;
    object-fit: contain;
    height: 156px;
    width: 208;
  }





  .heart{
    cursor: pointer;
    color: white;
    font-size: 30px;
    transition:0.3s ;
    :hover{
      color: red;
      transition:0.3s ;
    }
  }

  //.heartActive{
  //  color: red;
  //  opacity: 1;
  //}

}